    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <img class="logo" src="img/BlackBrideLogo.png" alt="BB Logo">
              <h1>The Bridal Suite</h1>
              <p>If you’re looking for the perfect place to showcase your unique bridal business or first-class wedding service,
              you’ve come to the right place. “The Bridal Suite” is a platform for companies to present their most creative and innovative products and services to a zealous audience.
            “Our Purpose is to serve women of color in planning their dream wedding by providing exceptional wedding inspiration and access to fine vendors around the world”</p>
             <br/>
              </div>
    </section>
