<section id="contact">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Secure Your Spot</h2>
					<p>Join us today and grow your wedding business with Black Bride Magazine</p>
				</div>
				<div class="col-lg-6">
					<form class="form-inline">
						<div class="form-group">
							<label for="exampleInputName2">Company Name</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
						</div>
						<div class="form-group">
							<label for="exampleInputName2">Website</label>
							<input type="url" class="form-control" id="exampleInputName2" placeholder="mywebsite.com">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail2">Email</label>
							<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
						</div>
						<button type="submit" class="btn btn-default">Send invitation</button>
					</form>
				</div>

			</div>
		</div>
		<!-- /.container -->
</section>
<!-- /.banner -->
