<section id="signup">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Become A Member</h2>
					<br></br>
					<p>For a limited time only, now through December 1st we are offering a one year membership for only $1,000 regularly $1,500.
						A $500 savings and you need only pay your deposit by December 1st .
						The balance is due prior to the launch of our amazing new website (early 2017).</p>

						<p>Join Black Bride Magazine and grow your wedding business!</p>

						<a class="typeform-share link btn btn-primary btn-lg active" href="https://jtskeete.typeform.com/to/ZgAWf5" data-mode="1" target="_blank">RSVP</a>
						<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

				</div>

			</div>
		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
