<section id="signup">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Become A Member</h2>
					<br></br>
					<p>For a limited time only, now through December 1st we are offering a one year membership for only $1,000 regularly $1,200.
						A $200 savings and you need only pay your deposit by December 1st .
						The balance is due prior to the launch of our amazing new website (early 2017).</p>

						<p>Join Black Bride Magazine and grow your wedding business</p>
						<form class="form-inline">
							<div class="form-group">
    						<label for="exampleInputName2">Company Name</label>
    						<input type="text" class="form-control" id="exampleInputName2" placeholder="Comany Name">
  					</div>
						<div class="form-group">
							<label for="exampleInputEmail2">Email</label>
							<input type="email" class="form-control" id="exampleInputEmail2" placeholder="you@yourcompany.com">
						</div>
						<button type="submit" class="btn-primary btn-lg active">RSVP</button>
						</form>
				</div>

			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
